<%= form_for @booking, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <% if current_user.role == "admin" %>
      <%= f.label :user_id, "Usuário:", class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.select :user_id, options_to_user, prompt: "Selecione um Usuário" %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :book_id, "Livro:", class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.select :book_id, options_to_book, prompt: "Selecione um Livro" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reserved_to, "Data Reverva:", class: 'col-sm-2 control-label' %>
    <div class="col-sm-3">
      <%= date_select("booking","reserved_to") %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit "Salvar", class: 'btn btn-primary' %>
      <%= link_to "Voltar", bookings_path, class: "btn btn-default" %>
    </div>
  </div>

<% end %>
