<% if @book.errors.any? %>
<h2><%= @book.errors.count %> erros encontrado ao salvar Livro:</h2>

<ul>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @book, html: {class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :title, "Titulo:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-7">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :publication_year, "Ano Publicação:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :publication_year, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :author_id, "Autor:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-2">
      <%= f.select :author_id, options_to_author, {prompt: "Selecione um Autor"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :resume, "Resumo:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-7">
      <%= f.text_area :resume, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :total_pages, "Total de Paginas:", class: 'col-sm-3 control-label' %>
    <div class="col-sm-1">
      <%= f.number_field :total_pages, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 col-sm-offset-3">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Voltar", books_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
