<h1>Lista de Livros</h1>

<div class="col-sm-6">
  <%= form_tag books_path, method: :get do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
      </span>
    </div>
  <% end %>
</div>

<div class="row">
  <% if params[:search].present? %>
    <div class="col-sm-12">
      <div class="alert alert-success">
        <%= @books.size %> Resultados Encontrados.
      </div>
    </div>
  <% end %>
</div>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Ano de Publicação</th>
    <th>Autor</th>
    <th>Ações</th>
  </tr>

  <% @books.each do |book| %>
  <tr>
    <td><%= book.id %></td>
    <td><%= book.title %></td>
    <td><%= book.publication_year %></td>
    <td><%= link_to book.author.name, author_path(book.author.id) %></td>
    <td><%= link_to "Detalhes", book_path(book.id), class: 'btn btn-xs btn-success' %>
        <%= link_to "Editar", edit_book_path(book.id), class: 'btn btn-xs btn-primary' %>
        <%= link_to "Deletar", book_path(book.id), class: 'btn btn-xs btn-danger', method: :delete, data: {confirm: "Voce realmente deseja apagar este Livro?"} %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Novo Livro", new_book_path, class: "btn btn-primary" %>
