<h1>Lista de Autores</h1>

<div class="col-sm-6">
  <%= form_tag authors_path, method: :get do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
      </span>
    </div>
  <% end %>
</div>

<div class="row">
  <% if params[:search].present? %>
    <div class="col-sm-12">
      <div class="alert alert-success">
        <%= @authors.size %> Resultados Encontrados.
      </div>
    </div>
  <% end %>
</div>

<% if flash[:notice] %>
<div class="alert alert-success">
  <%= flash[:notice] %>
</div>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Data de Nascimento</th>
    <th>Ações</th>
  </tr>
  <% @authors.each do |author| %>
  <tr>
    <td><%= author.id %></td>
    <td><%= author.name %></td>
    <td><%= author.birthdate.strftime("%m/%d/%Y") %></td>
    <td><%= link_to "Detalhes", author_path(author.id), class: 'btn btn-xs btn-success' %>
        <%= link_to "Editar", edit_author_path(author.id), class: 'btn btn-xs btn-primary' %>
        <%= link_to "Deletar", author_path(author.id), class: 'btn btn-xs btn-danger', method: :delete, data: {confirm: "Voce realmente deseja apagar este autor?"} %></td>
  </tr>
  <% end %>
</table>

<div class="row">
  <%= will_paginate @authors %>
</div>
<% if can?(:authors, :new) %>
  <%= link_to "Novo autor", new_author_path, class: "btn btn-primary" %>
<% end %>
